body {
    margin: 0;
    background-color: #1e1e1e;
    color:azure;
    font-family: Inter, 'sans-serif';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 360px;
    margin: 0 auto;
}

.content-section_theme_dark {
    color: #F5F5F5;
    background-color: #131313;
}

.content-section_theme_bright {
    color: #131313;
    background-color: #FEE42A;
}

.header {
    padding: 24px 20px;
}

.cover {
    padding: 7px 0 30px 20px;
    background-image: url(../images/cover.svg);
}

.accent-span {
    display: block;
}

.intro {
    padding: 30px 20px 37px;
}

.reasons {
    padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px;
}

.footer {
    padding: 20px;
}

